/* static/css/styles.css */

/* Nền gradient xanh nhạt */
body {
    background: linear-gradient(135deg, #E0F7FA, #B2EBF2);
}

/* Hộp nội dung trung tâm */
.content-box {
    background-color: #FFFFFF; /* Màu trắng */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    text-align: center;
}

/* CSS cho nút bắt đầu */
.start-button {
    background-color: #87CEEB;  /* Màu xanh biển nhạt */
    color: white;               /* Màu chữ trắng */
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

/* Căn giữa div chứa nút */
.center-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Gradient text style */
.gradient-text-xanh {
    font-size: 60px; /* Kích thước chữ */
    font-weight: bold;
    background: linear-gradient(90deg, #f67905, #f30d09); /* Màu gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.gradient-text-do {
    font-size: 30px; /* Kích thước chữ */
    font-weight: bold;
    background: linear-gradient(90deg, #042379, #14805c); /* Gradient từ đỏ nhạt sang tím nhạt */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}


/* Hamburger menu CSS */
.hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px; /* Đặt ở góc trái, đổi thành 'right: 20px;' để đặt ở góc phải */
    cursor: pointer;
    z-index: 1000;
}
.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}